{% extends 'SMdashboard/base.html' %}
{% load static %}
{% block content %}
{{ block.super }}
<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i>Clients</h1>
        <p>Clients</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-striped" id="sampleTable">
                        <thead>
                        <tr>
                            <th>Client Name</th>
                            <th>Contact Name</th>
                            <th>Client TIN</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Billing Address</th>
                            <th>Billing Zip</th>
                            <th>Billing City</th>
                            <th>Billing State</th>
                            <th>Billing Country</th>
                            <th>Shipping Address</th>
                            <th>Shipping Zip</th>
                            <th>Shipping City</th>
                            <th>Shipping State</th>
                            <th>Shipping Country</th>
                            <th>Private Details</th>
                            <th> GSTIN</th>
                            <th>PAN</th>
                            <th>Balance</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
{{ block.super }}
<!-- Page specific javascripts-->
<!-- Data table plugin-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'SMdashboard/js/plugins/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'SMdashboard/js/plugins/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'SMdashboard/js/plugins/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript">
var table = $('#sampleTable').DataTable({
  columns: [
  { data: "name"},
  { data: "client_contact_Name"},
  { data: "client_TIN"},
  { data: "client_email"},
  {data: "client_phone"},
  {data:"client_billing_address"},
  {data:"client_billing_zip"},
  {data:"client_billing_city"},
  {data:"client_billing_state"},
  {data:"client_billing_country"},
  {data:"client_shipping_address"},
  {data:"client_shipping_zip"},
  {data:"client_shipping_city"},
  {data:"client_shipping_state"},
  {data:"client_shipping_country"},
  {data:"client_details"},
  {data:"client_GSTIN"},
  {data:"client_PAN"},
  {data:"client_balance"},
  ],
  columnDefs: [
			{
				targets: [0],
				render: function (data, type, row, meta) {
					return "<a href=" + "{% url 'viewclient' 12345 %}".replace(/12345/, row.pk) + ">" + data + "</a>"
				}
			}
		],
  data: {% autoescape off %}{{data}}{% endautoescape %}
  });

</script>
{% endblock %}