{% extends 'SMdashboard/base.html' %}
{% load static %}
{% block content %}
{{ block.super }}
<div class="app-title">
      <div>
        <h1><i class="fa fa-th-list"></i>Day Book Entry's</h1>
        <p>Entry's</p>
      </div>
    <div class="input-group input-daterange  col-md-3 ">
        <input type="text" autocomplete="off" class="form-control" id="fromDate" value="" placeholder="From Date">
        <div class="input-group-append"><span class="input-group-text">-</span></div>
        <input type="text" autocomplete="off" class="form-control" id="toDate" value="" placeholder="To Date">
        <div class="input-group-append">
            <button id="id_btn_filter_date" class="btn btn-primary fa fa-filter" onclick="filterByDate()"></button>
        </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <div class="tile-body">
            <div class="table-responsive">
              <table class="table table-hover table-striped" id="sampleTable">
                <thead>
                  <tr>
                    <th>Entry No</th>
                    <th>Date</th>
                    <th>Type</th>
                      <th>Credit</th>
                      <th>Debit</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
            <div class="tile-footer">
                        <div class="row text-right">
                            <div class="col-md-8 col-md-offset-3 " id="total">
                                  Total Credited = <label for="id_credited">{{credited}}</label>&nbsp;&nbsp;|&nbsp;&nbsp;
                                  Total Debited = <label for="id_debited">{{debited}}</label>  |
                                  Total Amount = <label for="id_total">{{total}}</label>
                            </div>
                        </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
{% block script %}
{{ block.super }}
<!-- Page specific javascripts-->
<!-- Data table plugin-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'SMdashboard/js/plugins/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'SMdashboard/js/plugins/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'SMdashboard/js/plugins/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript">
var table = $('#sampleTable').DataTable({
  columns: [
  { data: "number"},
  { data: "dayBook_date"},
  { data: "customer_type"},
  {data:"dayBook_credit_amount"},
  {data:"dayBook_debit_amount"},
  ],

   columnDefs: [
			{
				targets: [0],
				render: function (data, type, row, meta) {
					return "<a href=" + "{% url 'view_daybook' 12345 %}".replace(/12345/, row.pk) + ">" + data + "</a>"
				}
			},
		],

  data: {% autoescape off %}{{data}}{% endautoescape %}
  });

  $('#fromDate').datepicker({
      	format: "yyyy-mm-dd",
      	autoclose: true,
      	todayHighlight: true
      });
     $('#toDate').datepicker({
      	format: "yyyy-mm-dd",
      	autoclose: true,
      	todayHighlight: true
      });
     function filterByDate(){
        var fromDate = $('#fromDate').val()
        var toDate = $('#toDate').val()
        $.ajax({
            url: '{% url 'filter_day_book_date' %}',
            method: 'POST',
            data: {'fromDate': fromDate, 'toDate': toDate},
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            success: function(data, status, jqXHR){
                console.log(status, data['data'])
                if(jqXHR.status == 200){
                    table.clear();
                    table.rows.add(data['data']).draw();
                    console.log(data);
                    $('label[for="id_credited"]').html(data["credited"]);
                    $('label[for="id_debited"]').html(data["debited"]);
                    $('label[for="id_total"]').html(data["total"]);
            }
            }
        })
     }
</script>
{% endblock %}