{% extends 'SMdashboard/base.html' %}
{% load static %}
{% block content %}
<div class="app-title">
    <div>
        <h1><i class="fa fa-edit"></i> Detailed Employee </h1>
        <p>You will see detailed employee here.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">Employee Details</h3>
            <div class="tile-body">
                <div class="form-group row">
                    <label class="control-label col-md-2">Photo: </label>
                    <div class="col-md-8">
                        <img src="{{employee_photo}}" height="150px" width="150px">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-2">Name: </label>
                    <div class="col-md-8">
                        {{employee_name}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-2">Address: </label>
                    <div class="col-md-8">
                        {{employee_address}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-2">City: </label>
                    <div class="col-md-8">
                        {{employee_city}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-2">State: </label>
                    <div class="col-md-8">
                        {{employee_state}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-2">Pin Code: </label>
                    <div class="col-md-8">
                        {{employee_pin_code}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-2">Country: </label>
                    <div class="col-md-8">
                        {{employee_country}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-2">Mobile No: </label>
                    <div class="col-md-8">
                        {{employee_mobile_no}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-2">Email Id: </label>
                    <div class="col-md-8">
                        {{employee_email_id}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-2">Qualifications: </label>
                    <div class="col-md-8">
                        {{employee_qualification}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-2">Type: </label>
                    <div class="col-md-8">
                        {{employee_type}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-2">Job Profile: </label>
                    <div class="col-md-8">
                        {{employee_job_profile}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-2">Job Description: </label>
                    <div class="col-md-8">
                        {{employee_job_description}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-2">Join Date: </label>
                    <div class="col-md-8">
                        {{employee_date}}
                    </div>
                </div>
                <div class="tile-footer">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-3">
                            <a class='btn btn-primary' role='button' href=" {% url 'employee_edit_form' pk %} ">Edit</a>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
    <div class="clearix"></div>
</div>
</div>
{% endblock content %}

