{% extends 'SMdashboard/base.html' %}
{% load static %}
{% block content %}
{{ block.super }}

<div class="app-title">
    <div>
        <h1><i class="fa fa-file-text-o"></i>Invoice</h1>
        <p>Build a Invoice</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <form class="form-horizontal" action="" method="post">
                {% csrf_token %}
                <section class="invoice">
                    <div class="row mb-4">
                        <div class="col-6">
                            <h2 class="page-header"><i class="fa fa-globe"></i> Invoice</h2>
                        </div>
                        <div class="col-6">
                            <h5 class="text-right"> Issue Date:
                                {{invoice_maker.issue_date.value|date:'d-M-Y'}}</h5>
                            {{invoice_maker.issue_date}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-1"><strong>{{invoice_maker.client.label}}</strong></label>
                        <div class="col-md-2">
                            {{invoice_maker.client}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-1"><strong>{{invoice_maker.ship_to.label}}</strong></label>
                        <div class="col-md-2">
                            {{invoice_maker.ship_to}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-1"><strong>{{invoice_maker.place_of_supply.label}}</strong></label>
                        <div class="col-md-2">
                            {{invoice_maker.place_of_supply}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-1"><strong>{{invoice_maker.payment_terms.label}}</strong></label>
                        <div class="col-md-2">
                            {{invoice_maker.payment_terms}}
                        </div>
                    </div>
                    {{ invoice_lines.management_form }}
                    <div id="form_set">
                        <table class='table table-striped'>
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>UOM</th>
                                <th>Unit Price</th>
                                <th>Discount</th>
                                <th>TAX</th>
                            </tr>
                            </thead>
                        </table>
                        {% for invoiceLineForm in invoice_lines %}
                        {{form.non_field_errors}}
                        {{form.errors}}
                        <table class='dynamic-form-row table table-striped'>
                            <thead>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{invoiceLineForm.product}}</td>
                                <td>{{invoiceLineForm.description}}</td>
                                <td>{{invoiceLineForm.quantity}}</td>
                                <td>{{invoiceLineForm.uom}}</td>
                                <td>{{invoiceLineForm.unit_price}}</td>
                                <td>{{invoiceLineForm.discount}}</td>
                                <td>{{invoiceLineForm.tax}}</td>
                                <td>
                                    <button type="button"
                                            class="remove-form-row btn btn-secondary fa fa-trash"></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>
                    <button id="add_more" type="button" class="btn btn-secondary"><i class="fa fa-plus"
                                                                                     aria-hidden="true"></i>Add
                    </button>

                    <div class="tile-footer">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-3">
                                <button class="btn btn-primary" type="submit" id="id_btn_create"><i
                                        class="fa fa-fw fa-lg fa-check-circle"></i>Submit
                                </button>&nbsp;&nbsp;&nbsp;<button class="btn btn-secondary" type="reset"><i
                                    class="fa fa-fw fa-lg fa-times-circle"></i>Cancel
                            </button>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>
<div id="empty_form" style="display:none">
    <table class='dynamic-form-row table table-striped'>
        <tbody>
        <tr>
            <td>{{invoice_lines.empty_form.product}}</td>
             <td>{{invoice_lines.empty_form.description}}</td>
            <td>{{invoice_lines.empty_form.quantity}}</td>
            <td>{{invoice_lines.empty_form.uom}}</td>
            <td>{{invoice_lines.empty_form.unit_price}}</td>
            <td>{{invoice_lines.empty_form.dicount}}</td>
            <td>{{invoice_lines.empty_form.tax}}</td>
            <td>
                <button type="button" class="remove-form-row btn btn-secondary fa fa-trash"></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
{% block script %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/table-to-json@0.13.0/lib/jquery.tabletojson.min.js"
        integrity="sha256-AqDz23QC5g2yyhRaZcEGhMMZwQnp8fC6sCZpf+e7pnw=" crossorigin="anonymous"></script>
<script type="text/javascript">

$('#add_more').click(function() {
	var form_idx = $('#id_form-TOTAL_FORMS').val();
	$('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
	$('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
	console.log(form_idx);
});

function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}

function deleteForm(prefix, btn) {
    var total = $('#id_form-TOTAL_FORMS').val();
    console.log(total);
    if (total > 1){
        btn.closest('.dynamic-form-row').remove();
        var forms = $('.dynamic-form-row');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex(this, prefix, i);
            });
        }
        $('#id_form-TOTAL_FORMS').val(total-1)
    }
    return false;
}

$(document).on('click', '.remove-form-row', function(e){
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
});
</script>
{% endblock %}
