{% extends 'SMdashboard/base.html' %}
{% load static %}

{% block content %}
{{ block.super }}

<div class="app-title">
    <div>
        <h1><i class="fa fa-file-text-o"></i>Quotation Order</h1>
        <p>Build a Quotation Order</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Quotation Order</a></li>
<!--        <li class="breadcrumb-item"><a href="#"> {{quotation_order_maker.number.value}}</a></li>-->
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <form class="form-horizontal" action="" method="post">
                {% csrf_token %}
                <section class="invoice">
                    <div class="row mb-4">
<!--                        <div class="col-6">-->
<!--                            <h2 class="page-header">-->
<!--                                <i class="fa fa-globe"></i>-->
<!--                                {{quotation_order_maker.number.value}}-->
<!--                            </h2>-->
<!--                            {{quotation_order_maker.number}}-->
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <h5 class="text-right"> Due Date:-->
<!--                                {{quotation_order_maker.due_date.value|date:'d-M-Y'}}</h5>-->
<!--                            {{quotation_order_maker.due_date}}-->
<!--                        </div>-->
                        <div class="col-6">
                            <h5 class="text-right"> Issue Date:
                                {{quotation_order_maker.issue_date.value|date:'d-M-Y'}}</h5>
                            {{quotation_order_maker.issue_date}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-1"><strong>{{quotation_order_maker.client.label}}</strong></label>
                        <div class="col-md-2">
                            {{quotation_order_maker.client}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-1"><strong>{{quotation_order_maker.ship_to.label}}</strong></label>
                        <div class="col-md-2">
                            {{quotation_order_maker.ship_to}}
                        </div>
                    </div>
                    {{ quotation_order_lines.management_form }}
                    <div id="form_set">
                        <table class='table table-striped'>
                            <thead>
                                <tr>
                                    <th>product</th>
                                    <th>quantity</th>
                                    <th>uom</th>
                                    <th>unit_price</th>
                                    <th>tax</th>
                                </tr>
                            </thead>
                        </table>
                        {% for quotationLineForm in quotation_order_lines %}
                        {{form.non_field_errors}}
                        {{form.errors}}
                            <table class='dynamic-form-row table table-striped' id="ck_table">
                            <thead>
                            </thead>
                            <tbody>
                            <tr>
                                <td onChange="my_function()">{{quotationLineForm.product}}</td>
                                <td>{{quotationLineForm.quantity}}</td>
                                <td>{{quotationLineForm.uom}}</td>
                                <td >{{quotationLineForm.unit_price}}</td>
                                <td>{{quotationLineForm.tax}}</td>
                                <td>
                                    <button type="button" class="remove-form-row btn btn-secondary fa fa-trash"></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>
                    <button id="add_more" type="button" class="btn btn-secondary"><i class="fa fa-plus"
                                                                                     aria-hidden="true"></i>Add
                    </button>

                    <div class="tile-footer">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-3">
                                <button class="btn btn-primary" type="submit" id="id_btn_create"><i
                                        class="fa fa-fw fa-lg fa-check-circle"></i>Submit
                                </button>&nbsp;&nbsp;&nbsp;<button class="btn btn-secondary" type="reset"><i
                                    class="fa fa-fw fa-lg fa-times-circle"></i>Cancel
                            </button>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>
<div id="empty_form" style="display:none">
    <table class='dynamic-form-row table table-striped' id="empty_table">
        <tbody id="empty_body">
        <tr>
            <td onChange="my_function()">{{quotation_order_lines.empty_form.product}}</td>
            <td>{{quotation_order_lines.empty_form.quantity}}</td>
            <td>{{quotation_order_lines.empty_form.uom}}</td>
            <td>{{quotation_order_lines.empty_form.unit_price}}</td>
            <td>{{quotation_order_lines.empty_form.tax}}</td>
            <td>
                <button type="button" class="remove-form-row btn btn-secondary fa fa-trash"></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
{% block script %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/table-to-json@0.13.0/lib/jquery.tabletojson.min.js"
        integrity="sha256-AqDz23QC5g2yyhRaZcEGhMMZwQnp8fC6sCZpf+e7pnw=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<script type="text/javascript">


$('#add_more').click(function() {
	var form_idx = $('#id_form-TOTAL_FORMS').val();
	$('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
	$('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
	console.log(form_idx);

});

function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}

function deleteForm(prefix, btn) {
    var total = $('#id_form-TOTAL_FORMS').val();
    console.log(total);
    if (total > 1){
        btn.closest('.dynamic-form-row').remove();
        if (k >= 1){
            k-= 1;
            console.log(`okk is ${k}.`);
        }

        var forms = $('.dynamic-form-row');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex(this, prefix, i);
            });
        }
        $('#id_form-TOTAL_FORMS').val(total-1)
    }
    return false;
}

$(document).on('click', '.remove-form-row', function(e){
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
})


var k = 0;
function my_function(){

        var product_detail = $(`#id_form-${k}-product`).val()

        $.ajax({
            url: '{% url 'quotation_product_detail' %}',
            method: 'POST',
            data: {'product_detail': product_detail},
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            success: function(data, status, jqXHR){
                console.log(status, data)
                if(jqXHR.status == 200){
                    console.log(data[0]['unit_price']);
                    $(`#id_form-${k}-unit_price`).val(data[0]['unit_price'])
                    $('label[for="id_some"]').html(data[0]['unit_price']);
                    console.log(`Fifteen is ${k}.`);
                    k+= 1;
            }
            }
        })


     }


</script>
{% endblock %}
