<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr>
    <th><label for="id_first_name">First name:</label></th>
    <td><input type="text" name="first_name" value="new" class="form-control" maxlength="100" required
               id="id_first_name"></td>
</tr>
<tr>
    <th><label for="id_last_name">Last name:</label></th>
    <td><input type="text" name="last_name" value="b" class="form-control" maxlength="100" required id="id_last_name">
    </td>
</tr>
<tr>
    <th><label for="id_customer_type">Customer type:</label></th>
    <td><select name="customer_type" class="form-control" required id="id_customer_type">
        <option value="">---------</option>

        <option value="1" selected>Company</option>

        <option value="2">Individual</option>

    </select></td>
</tr>
<tr>
    <th><label for="id_address">Address:</label></th>
    <td><textarea name="address" cols="58" rows="3" class="form-control" maxlength="200" required id="id_address">
eded</textarea></td>
</tr>
<tr>
    <th><label for="id_handled_by">Handled by:</label></th>
    <td>
        <ul class="errorlist">
            <li>Select a valid choice. That choice is not one of the available choices.</li>
        </ul>
        <input type="text" name="handled_by" value="sdfg" class="form-control" required id="id_handled_by"></td>
</tr>
<tr>
    <th><label for="id_enquiry_type">Enquiry type:</label></th>
    <td><select name="enquiry_type" class="form-control" required id="id_enquiry_type">
        <option value="">---------</option>

        <option value="1">Camera</option>

        <option value="2" selected>CCTV</option>

        <option value="3">LapTop</option>

        <option value="4">Others</option>

    </select></td>
</tr>
<tr>
    <th><label for="id_product_name">Product name:</label></th>
    <td><input type="text" name="product_name" value="sdsf" class="form-control" maxlength="100" id="id_product_name">
    </td>
</tr>
<tr>
    <th><label for="id_description">Description:</label></th>
    <td><textarea name="description" cols="58" rows="3" class="form-control" required id="id_description">
edde</textarea></td>
</tr>
<tr>
    <th><label for="id_startPrice">StartPrice:</label></th>
    <td><input type="text" name="startPrice" value="d" class="form-control" maxlength="100" id="id_startPrice"></td>
</tr>
<tr>
    <th><label for="id_endPrice">EndPrice:</label></th>
    <td><input type="text" name="endPrice" value="200" class="form-control" maxlength="100" id="id_endPrice"></td>
</tr>
<tr>
    <th><label for="id_mobile_no">Mobile no:</label></th>
    <td><input type="text" name="mobile_no" value="jk" class="form-control" maxlength="100" required id="id_mobile_no">
    </td>
</tr>
<tr>
    <th><label for="id_whatsapp_no">Whatsapp no:</label></th>
    <td><input type="text" name="whatsapp_no" maxlength="100" id="id_whatsapp_no"></td>
</tr>
<tr>
    <th><label for="id_contact_no">Contact no:</label></th>
    <td><input type="text" name="contact_no" value="987654432" class="form-control" maxlength="100" id="id_contact_no">
    </td>
</tr>
<tr>
    <th><label for="id_email_id">Email id:</label></th>
    <td><input type="text" name="email_id" value="jkj@gmail.com" class="form-control" maxlength="100" id="id_email_id">
    </td>
</tr>


</body>
</html>