<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<tr>
    <th><label for="id_number">Number:</label></th>
    <td>
        <ul class="errorlist">
            <li>This field is required.</li>
        </ul>
        <input type="text" name="number" maxlength="50" required id="id
_number"><input type="hidden" name="initial-number" id="initial-id_number"></td>
</tr>
<tr>
    <th><label for="id_end_date">End date:</label></th>
    <td><input type="text" name="end_date" value="2020-02-28" required id="id_end_date"></td>
</tr>
<tr>
    <th><label for="id_quantity">Quantity:</label></th>
    <td><input type="number" name="quantity" value="1" id="id_quantity"></td>
</tr>


</body>
</html>