.idea/*
Stock_Management/SM/migrations/*
Stock_Management/SM/__pycache__/*
Stock_Management/media/*
Stock_Management/Stock_Management/__pycache__/*
Stock_Management/SMdashboard/__pycache__/*
Stock_Management/SMdashboard/migrations/*
Stock_Management/SMdashboard/templatetags/__pycache__/*